.tagContainer[data-exam-hidden="true"] {
  display: none;
}

.navigationRingLink[aria-disabled="true"] {
  cursor: default;
}

.navigationRingLink[aria-disabled="true"] img {
  opacity: 0.4;
}

#studentNavigationRingPrevious {
  margin-left: 35px;
}

#screenshotButton {
  width: 32px;
  cursor: pointer;
}
