@import "./variables";

.toolButton {
  width: 28px;
  cursor: pointer;
}

.toolButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

hr.separator {
  margin-top: 2px;
  margin-bottom: 1px;
}

.customCriteriaButton {
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  border: 1px solid black;
  background-color: rgba(200,200,200,0.8);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  min-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  text-overflow: ellipsis;
  padding: 5px;
}

.customCriteriaButton:hover {
  background-color: rgba(150, 150, 150, 0.7);
}

input.customizeInput {

}

textarea.customizeInput {
  height: 5em !important;
  padding-top: .75em !important;
}
