language: node_js
node_js:
  - v10
addons:
  chrome: stable
services:
  - xvfb # From: https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui
  - neo4j # From: https://docs.travis-ci.com/user/database-setup/#neo4j
before_install:
  - sudo apt-get update
before_script:
  - npm install -g gulp-cli
  - npm install babel-plugin-transform-es3-member-expression-literals # Fix a bug to compile dom-seek and dom-node-iterator
script:
  - gulp
  - npm test
cache:
  directories:
    - node_modules
notifications:
  email:
    on_success: change
    on_failure: always
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: LrBfUQs1Wjr/zf0WZdQPWGBsKPjpu4D+MtcnD5uADMzlA8MZnBT+WUmV/FOsSFfIOlKbzGmw/NTPMyD4tHhfwD73Ljmko050Qh0nzC3g4K+eyrnXMnFN7wFoEzYCMJej2vHmPqIp+dx8WHmptpbz1td0BtmLqnQ1pIr8GPw9asoaaTN3Bl+DVAJQZXLZVeNQMhHr9n5CsO+z8eN7fQQR0KP9qiGfdOa1TwKZn4YWbLkQ6vvQVrj8NXbPw3scab1FE+iH/BfxCDMOGLAeR9QSh80MxmKuLeLt/D9OztYio63Vx8apXdIuu6LsXcdMbcUBnqIUZ/oYwJXLRMwppp7VzhBr0sVnZe+vKViIPw+W9VH3xNauDnifgzAFtdQD6yIlwq/0GPH24H65bnyEdVeU42NVTQ7REk1JnkC8rH0nxY/kL2pglxpgMy0ITor18j+Xuz5lkf3/OFBwqOkUC3v9XY+FruHE/SdtyaQBZwsIiPUA6fwvinZcSQcydsYItVvfsHovvZhwSpbkVeIcHOFRFX192eCrCzs6npLOjLnJjA8io438tCGNrfucq45LFP9MJUWZxeY8r41e00yoWAILuJUhkYh1owfUrcJhh+CtSQc+km7UY1vwkhqERY4ak7D3f453JS4PPcAT5Jj74P7kkAfK4ANRbH4qsKkvSaNPjxg=
